<label>Title</label> 
<input type="text" name="title" value="<%= theBook.title %>" />
<label>Author</label> 
<select name="author">
  <% allAuthors.forEach(author => { %>
    <% if (author.id === theBook.author) { %>
      <option selected label="<%= author.name %>" value="<%= author.id %>">
    <% } else { %>
      <option label="<%= author.name %>" value="<%= author.id %>">
    <% } %>
  <% }) %>
</select>
